.main{
    border: 7px solid white;
    height: 800px;
    width: 360px;
     top: 110px;
    left:780px ;
    background: white;
    border-radius: 20px;
    box-sizing: border-box;
    overflow:hidden;
}
